/* main {
  background-color: rgb(26, 26, 28);
} */

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(12, 12, 12);
  margin: 0;
  color: white;
  /* overflow: hidden; */
}

header {
  display: flex;
  height: 10vh;
  /* background-color: rgb(37, 35, 35); */
  /* width: fit-content; */
  margin: 0.5em;
}

h1 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  color: white;
  height: inherit;
  padding-left: 0.7em;
}

.tomatillo {
  height: 4vh;
  margin-top: 1.9em;
  margin-left: 0.5em;
  padding-right: 1em;
}

.all-movies,
.top-rated {
  width: 100vw;
  display: flex;
  gap: 4vmin;
  /* position: absolute; changed from codepen's absolute to relative for React compatibility */
  /* transform: translate(0%, 0%); */
  overflow-x: scroll;
  scrollbar-color: #4a4949 #080808
    /*scrollbar-width: none; /* hide scrollbar for browsers that support it */
    /*-ms-overflow-style: none;  /* needed for IE and Edge apparently */
    /*user-select: none; /* prevents image highlighting */
}

.movies-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.container-header {
  font-size: 1.75em;
  margin-left: 1em;
  margin-bottom: 0em;
}

/*.movies-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera 
} */

.movie-card {
  height: fit-content;
}

.movie-card img,
.movies-container .image {
  width: 33vmin;
  height: 40vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* .movie-detail img {
  width: 80vw;
  height: auto;
} */

.meta-link,
.movie-card {
  /* backdrop-filter: blur(3px); */
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 400ms;
}

.meta-link:hover,
.movie-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #002387;
  cursor: pointer;
}

.movie-card {
  margin: 1rem 0.25rem;
  padding: 1rem;
  border-radius: 6px;
}

/*.meta-link, .movie-card, .movie-detail span {
  color: #002487e5;
} */

/* invisible scrollbar 
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

/*
.movies-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-x: scroll;
  /* scrollbar-width:none; 


}

.movie-card img {
  width: 200px;
  height: auto
}*/

.error {
  background-color: rgb(29, 28, 28);
  box-shadow: 1px 1px 20px rgb(234, 40, 40);
  width: fit-content;
  max-width: 70vw;
  margin-left: 5vw;
  padding: 1em;
}

/* <<<>>>> Headliner <<<>>>>>>> */
.headliner {
  background-size: cover;
  box-shadow: inset 0px -10px 20px 20px rgb(15 15 15);
  height: 55vh;
}

.headliner-pick {
  margin: 3em;
  margin-top: 1.5em;
  width: fit-content;
  min-width: 30vw;
  height: fit-content;
  max-height: 40vh;
  background-color: rgba(0, 0, 0, 0.828);
  box-shadow: inset 0px 0px 20px 20px rgb(9, 9, 9);
  display: flex;
  flex-direction: column;
  align-content: left;
  border-radius: 10px;
}

.headliner-label {
  margin: 1.2em;
  font-size: 1.5em;
}

.headliner-title {
  font-size: 2.5em;
  margin: 0.25em 1.75em;
}

.headliner-pick p {
  margin-left: 5em;
  margin-right: 5em;
  font-size: 1.2em;
  margin-top: 0em;
  margin-bottom: 0.5em;
}

nav {
  display: flex;
  justify-content: end;
  margin-right: 2em;
  margin-top: 4.5em;
}

.headliner-button {
  background-color: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 8em;
  height: 2em;
  font-size: 1.25em;
  border-radius: 5px;
  border-style: groove;
  margin-bottom: 1.5em;
    &:hover {
      color: black;
      background-color: whitesmoke;
    }
}

/* <<<>>>> Movie Details <<<>>>>>>> */
.movie-detail {
  height: 110vh;
  color: white;
  font-size: larger;
  padding-top: 1vh;
  background-color: rgb(26, 26, 28);
}

.movie-tagline,
.movie-detail-boxes {
  margin-left: 2.5vw;
}

.movie-tagline {
  font-size: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background-color: black;
  padding: 0.5em;
  border-radius: 8px;
  width: fit-content;
}

.movie-title {
  margin-left: 2.5vw;
  margin-bottom: 0.25em;
  padding: 0.5em;
  font-size: 2em;
  border-radius: 8px;
  background-color: black;
  width: fit-content;
}

.movie-detail-main {
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.movie-detail img {
  margin-top: 1.5em;
  margin-left: 1em;
  width: 55vw;
  height: auto;
  box-shadow: 1px 1px 20px black;
}

.movie-detail-left {
  background-color: rgba(14, 13, 13, 0.908);
  height: inherit;
}

.movie-detail-right {
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 4em;
  background-color: rgba(14, 13, 13, 0.908);
}

.movie-detail-boxes {
  display: flex;
  justify-content: left;
}

.movie-runtime,
.movie-rating,
.movie-genres {
  border-style: solid;
  border-color: #222223;
  border-radius: 8px;
  width: fit-content;
  padding: 0.75em;
  margin: 0.5em;
  margin-top: 1em;
  background: black;
}

.movie-overview {
  text-align: justify;
}

span {
  font-size: larger;
  font-weight: bold;
  color: #2f51ce;
}

.return-home {
  border-style: solid;
  border-color: #002387;
  margin-top: 2em;
  width: 15em;
  height: 2em;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
    background-color: #002387;
    color: white;
    cursor: pointer;
  }
}