main {
  background-color: rgb(50, 52, 54);
}

.movies-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-x: scroll;
  /* scrollbar-width:none; */

}

.movie-card img {
  width: 200px;
  height: auto
}

/* <<<>>>> Movie Details <<<>>>>>>> */
.movie-detail {
  height: 110vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  color: white;
}

.movie-detail img {
  width: 60vw;
  height: auto;
  box-shadow: 1px 1px 20px black;
}

.movie-detail-right {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 4em;
}

/* .movie-overview {
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  border-color: #002387;
  padding: 10px;
} */

.movie-detail-main {
  display: flex;
  justify-content: space-around;
}

.movie-runtime,
.movie-rating,
.movie-genres {
  border-style: solid;
  border-radius: 15px;
  width: fit-content;
  padding: 0.75em;
  margin: 0.5em;
    &:hover {
      border-color: #002387;
    }
}



/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/