main {
  background-color: rgb(26, 26, 28);
}

.movies-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-x: scroll;
}

.movie-card img {
  width: 200px;
  height: auto
}

/* <<<>>>> Movie Details <<<>>>>>>> */
.movie-detail {
  height: 110vh;
  color: white;
  font-size: larger;
  padding-top: 1vh;
  background-color: rgb(26, 26, 28);
}


.movie-tagline,
.movie-detail-boxes {
  margin-left: 2.5vw;
}

.movie-tagline {
  font-size: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background-color: black;
  padding: 0.5em;
  border-radius: 8px;
  width: fit-content;
}

.movie-title {
  margin-left: 2.5vw;
  margin-bottom: 0.25em;
  padding: 0.5em;
  font-size: 2em;
  border-radius: 8px;
  background-color: black;
  width: fit-content;
}

.movie-detail-main {
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.movie-detail img {
  margin-top: 1.5em;
  margin-left: 1em;
  width: 55vw;
  height: auto;
  box-shadow: 1px 1px 20px black;
}

.movie-detail-left {
  background-color: rgba(14, 13, 13, 0.908);
  height: inherit;
}

.movie-detail-right {
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 4em;
  background-color: rgba(14, 13, 13, 0.908);
}

.movie-detail-boxes {
  display: flex;
  justify-content: left;
}

.movie-runtime,
.movie-rating,
.movie-genres {
  border-style: solid;
  border-color: #222223;
  border-radius: 8px;
  width: fit-content;
  padding: 0.75em;
  margin: 0.5em;
  margin-top: 1em;
  background: black;

  &:hover {
    border-color: #f9fbf9;
  }
}

.movie-overview {
  text-align: justify;
}

span {
  font-size: larger;
  font-weight: bold;
  color: #3b66de;
}

.return-home {
  border-style: solid;
  border-color: #002387;
  margin-top: 2em;
  width: 15em;
  height: 2em;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
    background-color: #002387;
    color: white;
    cursor: pointer;
  }
}